openapi: 3.1.0
info:
  title: Coolify
  version: '0.1'
servers:
  -
    url: 'https://app.coolify.io/api/v1'
    description: 'Coolify Cloud API. Change the host to your own instance if you are self-hosting.'
paths:
  /applications:
    get:
      tags:
        - Applications
      summary: List
      description: 'List all applications.'
      operationId: list-applications
      parameters:
        -
          name: tag
          in: query
          description: 'Filter applications by tag name.'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'Get all applications.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
      security:
        -
          bearerAuth: []
  /applications/public:
    post:
      tags:
        - Applications
      summary: 'Create (Public)'
      description: 'Create new application based on a public git repository.'
      operationId: create-public-application
      requestBody:
        description: 'Application object that needs to be created.'
        required: true
        content:
          application/json:
            schema:
              required:
                - project_uuid
                - server_uuid
                - environment_name
                - environment_uuid
                - git_repository
                - git_branch
                - build_pack
              properties:
                project_uuid:
                  description: 'The project UUID.'
                  type: string
                server_uuid:
                  description: 'The server UUID.'
                  type: string
                environment_name:
                  description: 'The environment name. You need to provide at least one of environment_name or environment_uuid.'
                  type: string
                environment_uuid:
                  description: 'The environment UUID. You need to provide at least one of environment_name or environment_uuid.'
                  type: string
                git_repository:
                  description: 'The git repository URL.'
                  type: string
                git_branch:
                  description: 'The git branch.'
                  type: string
                build_pack:
                  description: 'The build pack type.'
                  type: string
                  enum: [nixpacks, railpack, static, dockerfile, dockercompose]
                ports_exposes:
                  description: 'The ports to expose.'
                  type: string
                destination_uuid:
                  description: 'The destination UUID.'
                  type: string
                name:
                  description: 'The application name.'
                  type: string
                description:
                  description: 'The application description.'
                  type: string
                domains:
                  description: 'The application URLs in a comma-separated list.'
                  type: string
                git_commit_sha:
                  description: 'The git commit SHA.'
                  type: string
                docker_registry_image_name:
                  description: 'The docker registry image name.'
                  type: string
                docker_registry_image_tag:
                  description: 'The docker registry image tag.'
                  type: string
                is_static:
                  description: 'The flag to indicate if the application is static.'
                  type: boolean
                is_spa:
                  description: 'The flag to indicate if the application is a single-page application (SPA). Only relevant when is_static is true.'
                  type: boolean
                is_auto_deploy_enabled:
                  description: 'The flag to indicate if auto-deploy is enabled on git push. Defaults to true.'
                  type: boolean
                is_force_https_enabled:
                  description: 'The flag to indicate if HTTPS is forced. Defaults to true.'
                  type: boolean
                static_image:
                  description: 'The static image.'
                  type: string
                  enum: ['nginx:alpine']
                install_command:
                  description: 'The install command.'
                  type: string
                build_command:
                  description: 'The build command.'
                  type: string
                start_command:
                  description: 'The start command.'
                  type: string
                ports_mappings:
                  description: 'The ports mappings.'
                  type: string
                base_directory:
                  description: 'The base directory for all commands.'
                  type: string
                publish_directory:
                  description: 'The publish directory.'
                  type: string
                health_check_enabled:
                  description: 'Health check enabled.'
                  type: boolean
                health_check_path:
                  description: 'Health check path.'
                  type: string
                health_check_port:
                  description: 'Health check port.'
                  type: [string, 'null']
                health_check_host:
                  description: 'Health check host.'
                  type: [string, 'null']
                health_check_method:
                  description: 'Health check method.'
                  type: string
                health_check_return_code:
                  description: 'Health check return code.'
                  type: integer
                health_check_scheme:
                  description: 'Health check scheme.'
                  type: string
                health_check_response_text:
                  description: 'Health check response text.'
                  type: [string, 'null']
                health_check_interval:
                  description: 'Health check interval in seconds.'
                  type: integer
                health_check_timeout:
                  description: 'Health check timeout in seconds.'
                  type: integer
                health_check_retries:
                  description: 'Health check retries count.'
                  type: integer
                health_check_start_period:
                  description: 'Health check start period in seconds.'
                  type: integer
                limits_memory:
                  description: 'Memory limit.'
                  type: string
                limits_memory_swap:
                  description: 'Memory swap limit.'
                  type: string
                limits_memory_swappiness:
                  description: 'Memory swappiness.'
                  type: integer
                limits_memory_reservation:
                  description: 'Memory reservation.'
                  type: string
                limits_cpus:
                  description: 'CPU limit.'
                  type: string
                limits_cpuset:
                  description: 'CPU set.'
                  type: [string, 'null']
                limits_cpu_shares:
                  description: 'CPU shares.'
                  type: integer
                custom_labels:
                  description: 'Custom labels.'
                  type: string
                custom_docker_run_options:
                  description: 'Custom docker run options.'
                  type: string
                post_deployment_command:
                  description: 'Post deployment command.'
                  type: string
                post_deployment_command_container:
                  description: 'Post deployment command container.'
                  type: string
                pre_deployment_command:
                  description: 'Pre deployment command.'
                  type: string
                pre_deployment_command_container:
                  description: 'Pre deployment command container.'
                  type: string
                manual_webhook_secret_github:
                  description: 'Manual webhook secret for Github.'
                  type: string
                manual_webhook_secret_gitlab:
                  description: 'Manual webhook secret for Gitlab.'
                  type: string
                manual_webhook_secret_bitbucket:
                  description: 'Manual webhook secret for Bitbucket.'
                  type: string
                manual_webhook_secret_gitea:
                  description: 'Manual webhook secret for Gitea.'
                  type: string
                redirect:
                  description: 'How to set redirect with Traefik / Caddy. www<->non-www.'
                  type: [string, 'null']
                  enum: [www, non-www, both]
                instant_deploy:
                  description: 'The flag to indicate if the application should be deployed instantly.'
                  type: boolean
                dockerfile:
                  description: 'The Dockerfile content.'
                  type: string
                dockerfile_location:
                  description: 'The Dockerfile location in the repository.'
                  type: string
                docker_compose_location:
                  description: 'The Docker Compose location.'
                  type: string
                docker_compose_custom_start_command:
                  description: 'The Docker Compose custom start command.'
                  type: string
                docker_compose_custom_build_command:
                  description: 'The Docker Compose custom build command.'
                  type: string
                docker_compose_domains:
                  description: 'Array of URLs to be applied to containers of a dockercompose application.'
                  type: array
                  items: { properties: { name: { description: 'The service name as defined in docker-compose.', type: string }, domain: { description: 'Comma-separated list of URLs (e.g. "https://app.coolify.io,https://app2.coolify.io")', type: string } }, type: object }
                watch_paths:
                  description: 'The watch paths.'
                  type: string
                use_build_server:
                  description: 'Use build server.'
                  type: [boolean, 'null']
                is_http_basic_auth_enabled:
                  description: 'HTTP Basic Authentication enabled.'
                  type: boolean
                http_basic_auth_username:
                  description: 'Username for HTTP Basic Authentication'
                  type: [string, 'null']
                http_basic_auth_password:
                  description: 'Password for HTTP Basic Authentication'
                  type: [string, 'null']
                connect_to_docker_network:
                  description: 'The flag to connect the service to the predefined Docker network.'
                  type: boolean
                force_domain_override:
                  description: 'Force domain usage even if conflicts are detected. Default is false.'
                  type: boolean
                autogenerate_domain:
                  description: "If true and domains is empty, auto-generate a domain using the server's wildcard domain or sslip.io fallback. Default: true."
                  type: boolean
                  default: true
                is_container_label_escape_enabled:
                  description: 'Escape special characters in labels. By default, $ (and other chars) is escaped. So if you write $ in the labels, it will be saved as $$. If you want to use env variables inside the labels, turn this off.'
                  type: boolean
                  default: true
                is_preserve_repository_enabled:
                  description: 'Preserve repository during deployment.'
                  type: boolean
                  default: false
              type: object
      responses:
        '201':
          description: 'Application created successfully.'
          content:
            application/json:
              schema:
                properties:
                  uuid: { type: string }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '409':
          description: 'Domain conflicts detected.'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string, example: 'Domain conflicts detected. Use force_domain_override=true to proceed.' }
                  warning: { type: string, example: 'Using the same domain for multiple resources can cause routing conflicts and unpredictable behavior.' }
                  conflicts: { type: array, items: { properties: { domain: { type: string, example: example.com }, resource_name: { type: string, example: 'My Application' }, resource_uuid: { type: [string, 'null'], example: abc123-def456 }, resource_type: { type: string, enum: [application, service, instance], example: application }, message: { type: string, example: "Domain example.com is already in use by application 'My Application'" } }, type: object } }
                type: object
      security:
        -
          bearerAuth: []
  /applications/private-github-app:
    post:
      tags:
        - Applications
      summary: 'Create (Private - GH App)'
      description: 'Create new application based on a private repository through a Github App.'
      operationId: create-private-github-app-application
      requestBody:
        description: 'Application object that needs to be created.'
        required: true
        content:
          application/json:
            schema:
              required:
                - project_uuid
                - server_uuid
                - environment_name
                - environment_uuid
                - github_app_uuid
                - git_repository
                - git_branch
                - build_pack
              properties:
                project_uuid:
                  description: 'The project UUID.'
                  type: string
                server_uuid:
                  description: 'The server UUID.'
                  type: string
                environment_name:
                  description: 'The environment name. You need to provide at least one of environment_name or environment_uuid.'
                  type: string
                environment_uuid:
                  description: 'The environment UUID. You need to provide at least one of environment_name or environment_uuid.'
                  type: string
                github_app_uuid:
                  description: 'The Github App UUID.'
                  type: string
                git_repository:
                  description: 'The git repository URL.'
                  type: string
                git_branch:
                  description: 'The git branch.'
                  type: string
                ports_exposes:
                  description: 'The ports to expose.'
                  type: string
                destination_uuid:
                  description: 'The destination UUID.'
                  type: string
                build_pack:
                  description: 'The build pack type.'
                  type: string
                  enum: [nixpacks, railpack, static, dockerfile, dockercompose]
                name:
                  description: 'The application name.'
                  type: string
                description:
                  description: 'The application description.'
                  type: string
                domains:
                  description: 'The application URLs in a comma-separated list.'
                  type: string
                git_commit_sha:
                  description: 'The git commit SHA.'
                  type: string
                docker_registry_image_name:
                  description: 'The docker registry image name.'
                  type: string
                docker_registry_image_tag:
                  description: 'The docker registry image tag.'
                  type: string
                is_static:
                  description: 'The flag to indicate if the application is static.'
                  type: boolean
                is_spa:
                  description: 'The flag to indicate if the application is a single-page application (SPA). Only relevant when is_static is true.'
                  type: boolean
                is_auto_deploy_enabled:
                  description: 'The flag to indicate if auto-deploy is enabled on git push. Defaults to true.'
                  type: boolean
                is_force_https_enabled:
                  description: 'The flag to indicate if HTTPS is forced. Defaults to true.'
                  type: boolean
                static_image:
                  description: 'The static image.'
                  type: string
                  enum: ['nginx:alpine']
                install_command:
                  description: 'The install command.'
                  type: string
                build_command:
                  description: 'The build command.'
                  type: string
                start_command:
                  description: 'The start command.'
                  type: string
                ports_mappings:
                  description: 'The ports mappings.'
                  type: string
                base_directory:
                  description: 'The base directory for all commands.'
                  type: string
                publish_directory:
                  description: 'The publish directory.'
                  type: string
                health_check_enabled:
                  description: 'Health check enabled.'
                  type: boolean
                health_check_path:
                  description: 'Health check path.'
                  type: string
                health_check_port:
                  description: 'Health check port.'
                  type: [string, 'null']
                health_check_host:
                  description: 'Health check host.'
                  type: [string, 'null']
                health_check_method:
                  description: 'Health check method.'
                  type: string
                health_check_return_code:
                  description: 'Health check return code.'
                  type: integer
                health_check_scheme:
                  description: 'Health check scheme.'
                  type: string
                health_check_response_text:
                  description: 'Health check response text.'
                  type: [string, 'null']
                health_check_interval:
                  description: 'Health check interval in seconds.'
                  type: integer
                health_check_timeout:
                  description: 'Health check timeout in seconds.'
                  type: integer
                health_check_retries:
                  description: 'Health check retries count.'
                  type: integer
                health_check_start_period:
                  description: 'Health check start period in seconds.'
                  type: integer
                limits_memory:
                  description: 'Memory limit.'
                  type: string
                limits_memory_swap:
                  description: 'Memory swap limit.'
                  type: string
                limits_memory_swappiness:
                  description: 'Memory swappiness.'
                  type: integer
                limits_memory_reservation:
                  description: 'Memory reservation.'
                  type: string
                limits_cpus:
                  description: 'CPU limit.'
                  type: string
                limits_cpuset:
                  description: 'CPU set.'
                  type: [string, 'null']
                limits_cpu_shares:
                  description: 'CPU shares.'
                  type: integer
                custom_labels:
                  description: 'Custom labels.'
                  type: string
                custom_docker_run_options:
                  description: 'Custom docker run options.'
                  type: string
                post_deployment_command:
                  description: 'Post deployment command.'
                  type: string
                post_deployment_command_container:
                  description: 'Post deployment command container.'
                  type: string
                pre_deployment_command:
                  description: 'Pre deployment command.'
                  type: string
                pre_deployment_command_container:
                  description: 'Pre deployment command container.'
                  type: string
                manual_webhook_secret_github:
                  description: 'Manual webhook secret for Github.'
                  type: string
                manual_webhook_secret_gitlab:
                  description: 'Manual webhook secret for Gitlab.'
                  type: string
                manual_webhook_secret_bitbucket:
                  description: 'Manual webhook secret for Bitbucket.'
                  type: string
                manual_webhook_secret_gitea:
                  description: 'Manual webhook secret for Gitea.'
                  type: string
                redirect:
                  description: 'How to set redirect with Traefik / Caddy. www<->non-www.'
                  type: [string, 'null']
                  enum: [www, non-www, both]
                instant_deploy:
                  description: 'The flag to indicate if the application should be deployed instantly.'
                  type: boolean
                dockerfile:
                  description: 'The Dockerfile content.'
                  type: string
                dockerfile_location:
                  description: 'The Dockerfile location in the repository'
                  type: string
                docker_compose_location:
                  description: 'The Docker Compose location.'
                  type: string
                docker_compose_custom_start_command:
                  description: 'The Docker Compose custom start command.'
                  type: string
                docker_compose_custom_build_command:
                  description: 'The Docker Compose custom build command.'
                  type: string
                docker_compose_domains:
                  description: 'Array of URLs to be applied to containers of a dockercompose application.'
                  type: array
                  items: { properties: { name: { description: 'The service name as defined in docker-compose.', type: string }, domain: { description: 'Comma-separated list of URLs (e.g. "https://app.coolify.io,https://app2.coolify.io")', type: string } }, type: object }
                watch_paths:
                  description: 'The watch paths.'
                  type: string
                use_build_server:
                  description: 'Use build server.'
                  type: [boolean, 'null']
                is_http_basic_auth_enabled:
                  description: 'HTTP Basic Authentication enabled.'
                  type: boolean
                http_basic_auth_username:
                  description: 'Username for HTTP Basic Authentication'
                  type: [string, 'null']
                http_basic_auth_password:
                  description: 'Password for HTTP Basic Authentication'
                  type: [string, 'null']
                connect_to_docker_network:
                  description: 'The flag to connect the service to the predefined Docker network.'
                  type: boolean
                force_domain_override:
                  description: 'Force domain usage even if conflicts are detected. Default is false.'
                  type: boolean
                autogenerate_domain:
                  description: "If true and domains is empty, auto-generate a domain using the server's wildcard domain or sslip.io fallback. Default: true."
                  type: boolean
                  default: true
                is_container_label_escape_enabled:
                  description: 'Escape special characters in labels. By default, $ (and other chars) is escaped. So if you write $ in the labels, it will be saved as $$. If you want to use env variables inside the labels, turn this off.'
                  type: boolean
                  default: true
                is_preserve_repository_enabled:
                  description: 'Preserve repository during deployment.'
                  type: boolean
                  default: false
              type: object
      responses:
        '201':
          description: 'Application created successfully.'
          content:
            application/json:
              schema:
                properties:
                  uuid: { type: string }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '409':
          description: 'Domain conflicts detected.'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string, example: 'Domain conflicts detected. Use force_domain_override=true to proceed.' }
                  warning: { type: string, example: 'Using the same domain for multiple resources can cause routing conflicts and unpredictable behavior.' }
                  conflicts: { type: array, items: { properties: { domain: { type: string, example: example.com }, resource_name: { type: string, example: 'My Application' }, resource_uuid: { type: [string, 'null'], example: abc123-def456 }, resource_type: { type: string, enum: [application, service, instance], example: application }, message: { type: string, example: "Domain example.com is already in use by application 'My Application'" } }, type: object } }
                type: object
      security:
        -
          bearerAuth: []
  /applications/private-deploy-key:
    post:
      tags:
        - Applications
      summary: 'Create (Private - Deploy Key)'
      description: 'Create new application based on a private repository through a Deploy Key.'
      operationId: create-private-deploy-key-application
      requestBody:
        description: 'Application object that needs to be created.'
        required: true
        content:
          application/json:
            schema:
              required:
                - project_uuid
                - server_uuid
                - environment_name
                - environment_uuid
                - private_key_uuid
                - git_repository
                - git_branch
                - build_pack
              properties:
                project_uuid:
                  description: 'The project UUID.'
                  type: string
                server_uuid:
                  description: 'The server UUID.'
                  type: string
                environment_name:
                  description: 'The environment name. You need to provide at least one of environment_name or environment_uuid.'
                  type: string
                environment_uuid:
                  description: 'The environment UUID. You need to provide at least one of environment_name or environment_uuid.'
                  type: string
                private_key_uuid:
                  description: 'The private key UUID.'
                  type: string
                git_repository:
                  description: 'The git repository URL.'
                  type: string
                git_branch:
                  description: 'The git branch.'
                  type: string
                ports_exposes:
                  description: 'The ports to expose.'
                  type: string
                destination_uuid:
                  description: 'The destination UUID.'
                  type: string
                build_pack:
                  description: 'The build pack type.'
                  type: string
                  enum: [nixpacks, railpack, static, dockerfile, dockercompose]
                name:
                  description: 'The application name.'
                  type: string
                description:
                  description: 'The application description.'
                  type: string
                domains:
                  description: 'The application URLs in a comma-separated list.'
                  type: string
                git_commit_sha:
                  description: 'The git commit SHA.'
                  type: string
                docker_registry_image_name:
                  description: 'The docker registry image name.'
                  type: string
                docker_registry_image_tag:
                  description: 'The docker registry image tag.'
                  type: string
                is_static:
                  description: 'The flag to indicate if the application is static.'
                  type: boolean
                is_spa:
                  description: 'The flag to indicate if the application is a single-page application (SPA). Only relevant when is_static is true.'
                  type: boolean
                is_auto_deploy_enabled:
                  description: 'The flag to indicate if auto-deploy is enabled on git push. Defaults to true.'
                  type: boolean
                is_force_https_enabled:
                  description: 'The flag to indicate if HTTPS is forced. Defaults to true.'
                  type: boolean
                static_image:
                  description: 'The static image.'
                  type: string
                  enum: ['nginx:alpine']
                install_command:
                  description: 'The install command.'
                  type: string
                build_command:
                  description: 'The build command.'
                  type: string
                start_command:
                  description: 'The start command.'
                  type: string
                ports_mappings:
                  description: 'The ports mappings.'
                  type: string
                base_directory:
                  description: 'The base directory for all commands.'
                  type: string
                publish_directory:
                  description: 'The publish directory.'
                  type: string
                health_check_enabled:
                  description: 'Health check enabled.'
                  type: boolean
                health_check_path:
                  description: 'Health check path.'
                  type: string
                health_check_port:
                  description: 'Health check port.'
                  type: [string, 'null']
                health_check_host:
                  description: 'Health check host.'
                  type: [string, 'null']
                health_check_method:
                  description: 'Health check method.'
                  type: string
                health_check_return_code:
                  description: 'Health check return code.'
                  type: integer
                health_check_scheme:
                  description: 'Health check scheme.'
                  type: string
                health_check_response_text:
                  description: 'Health check response text.'
                  type: [string, 'null']
                health_check_interval:
                  description: 'Health check interval in seconds.'
                  type: integer
                health_check_timeout:
                  description: 'Health check timeout in seconds.'
                  type: integer
                health_check_retries:
                  description: 'Health check retries count.'
                  type: integer
                health_check_start_period:
                  description: 'Health check start period in seconds.'
                  type: integer
                limits_memory:
                  description: 'Memory limit.'
                  type: string
                limits_memory_swap:
                  description: 'Memory swap limit.'
                  type: string
                limits_memory_swappiness:
                  description: 'Memory swappiness.'
                  type: integer
                limits_memory_reservation:
                  description: 'Memory reservation.'
                  type: string
                limits_cpus:
                  description: 'CPU limit.'
                  type: string
                limits_cpuset:
                  description: 'CPU set.'
                  type: [string, 'null']
                limits_cpu_shares:
                  description: 'CPU shares.'
                  type: integer
                custom_labels:
                  description: 'Custom labels.'
                  type: string
                custom_docker_run_options:
                  description: 'Custom docker run options.'
                  type: string
                post_deployment_command:
                  description: 'Post deployment command.'
                  type: string
                post_deployment_command_container:
                  description: 'Post deployment command container.'
                  type: string
                pre_deployment_command:
                  description: 'Pre deployment command.'
                  type: string
                pre_deployment_command_container:
                  description: 'Pre deployment command container.'
                  type: string
                manual_webhook_secret_github:
                  description: 'Manual webhook secret for Github.'
                  type: string
                manual_webhook_secret_gitlab:
                  description: 'Manual webhook secret for Gitlab.'
                  type: string
                manual_webhook_secret_bitbucket:
                  description: 'Manual webhook secret for Bitbucket.'
                  type: string
                manual_webhook_secret_gitea:
                  description: 'Manual webhook secret for Gitea.'
                  type: string
                redirect:
                  description: 'How to set redirect with Traefik / Caddy. www<->non-www.'
                  type: [string, 'null']
                  enum: [www, non-www, both]
                instant_deploy:
                  description: 'The flag to indicate if the application should be deployed instantly.'
                  type: boolean
                dockerfile:
                  description: 'The Dockerfile content.'
                  type: string
                dockerfile_location:
                  description: 'The Dockerfile location in the repository.'
                  type: string
                docker_compose_location:
                  description: 'The Docker Compose location.'
                  type: string
                docker_compose_custom_start_command:
                  description: 'The Docker Compose custom start command.'
                  type: string
                docker_compose_custom_build_command:
                  description: 'The Docker Compose custom build command.'
                  type: string
                docker_compose_domains:
                  description: 'Array of URLs to be applied to containers of a dockercompose application.'
                  type: array
                  items: { properties: { name: { description: 'The service name as defined in docker-compose.', type: string }, domain: { description: 'Comma-separated list of URLs (e.g. "https://app.coolify.io,https://app2.coolify.io")', type: string } }, type: object }
                watch_paths:
                  description: 'The watch paths.'
                  type: string
                use_build_server:
                  description: 'Use build server.'
                  type: [boolean, 'null']
                is_http_basic_auth_enabled:
                  description: 'HTTP Basic Authentication enabled.'
                  type: boolean
                http_basic_auth_username:
                  description: 'Username for HTTP Basic Authentication'
                  type: [string, 'null']
                http_basic_auth_password:
                  description: 'Password for HTTP Basic Authentication'
                  type: [string, 'null']
                connect_to_docker_network:
                  description: 'The flag to connect the service to the predefined Docker network.'
                  type: boolean
                force_domain_override:
                  description: 'Force domain usage even if conflicts are detected. Default is false.'
                  type: boolean
                autogenerate_domain:
                  description: "If true and domains is empty, auto-generate a domain using the server's wildcard domain or sslip.io fallback. Default: true."
                  type: boolean
                  default: true
                is_container_label_escape_enabled:
                  description: 'Escape special characters in labels. By default, $ (and other chars) is escaped. So if you write $ in the labels, it will be saved as $$. If you want to use env variables inside the labels, turn this off.'
                  type: boolean
                  default: true
                is_preserve_repository_enabled:
                  description: 'Preserve repository during deployment.'
                  type: boolean
                  default: false
              type: object
      responses:
        '201':
          description: 'Application created successfully.'
          content:
            application/json:
              schema:
                properties:
                  uuid: { type: string }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '409':
          description: 'Domain conflicts detected.'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string, example: 'Domain conflicts detected. Use force_domain_override=true to proceed.' }
                  warning: { type: string, example: 'Using the same domain for multiple resources can cause routing conflicts and unpredictable behavior.' }
                  conflicts: { type: array, items: { properties: { domain: { type: string, example: example.com }, resource_name: { type: string, example: 'My Application' }, resource_uuid: { type: [string, 'null'], example: abc123-def456 }, resource_type: { type: string, enum: [application, service, instance], example: application }, message: { type: string, example: "Domain example.com is already in use by application 'My Application'" } }, type: object } }
                type: object
      security:
        -
          bearerAuth: []
  /applications/dockerfile:
    post:
      tags:
        - Applications
      summary: 'Create (Dockerfile without git)'
      description: 'Create new application based on a simple Dockerfile (without git).'
      operationId: create-dockerfile-application
      requestBody:
        description: 'Application object that needs to be created.'
        required: true
        content:
          application/json:
            schema:
              required:
                - project_uuid
                - server_uuid
                - environment_name
                - environment_uuid
                - dockerfile
              properties:
                project_uuid:
                  description: 'The project UUID.'
                  type: string
                server_uuid:
                  description: 'The server UUID.'
                  type: string
                environment_name:
                  description: 'The environment name. You need to provide at least one of environment_name or environment_uuid.'
                  type: string
                environment_uuid:
                  description: 'The environment UUID. You need to provide at least one of environment_name or environment_uuid.'
                  type: string
                dockerfile:
                  description: 'The Dockerfile content.'
                  type: string
                build_pack:
                  description: 'The build pack type.'
                  type: string
                  enum: [dockerfile]
                ports_exposes:
                  description: 'The ports to expose.'
                  type: string
                destination_uuid:
                  description: 'The destination UUID.'
                  type: string
                name:
                  description: 'The application name.'
                  type: string
                description:
                  description: 'The application description.'
                  type: string
                domains:
                  description: 'The application URLs in a comma-separated list.'
                  type: string
                docker_registry_image_name:
                  description: 'The docker registry image name.'
                  type: string
                docker_registry_image_tag:
                  description: 'The docker registry image tag.'
                  type: string
                ports_mappings:
                  description: 'The ports mappings.'
                  type: string
                base_directory:
                  description: 'The base directory for all commands.'
                  type: string
                health_check_enabled:
                  description: 'Health check enabled.'
                  type: boolean
                health_check_path:
                  description: 'Health check path.'
                  type: string
                health_check_port:
                  description: 'Health check port.'
                  type: [string, 'null']
                health_check_host:
                  description: 'Health check host.'
                  type: [string, 'null']
                health_check_method:
                  description: 'Health check method.'
                  type: string
                health_check_return_code:
                  description: 'Health check return code.'
                  type: integer
                health_check_scheme:
                  description: 'Health check scheme.'
                  type: string
                health_check_response_text:
                  description: 'Health check response text.'
                  type: [string, 'null']
                health_check_interval:
                  description: 'Health check interval in seconds.'
                  type: integer
                health_check_timeout:
                  description: 'Health check timeout in seconds.'
                  type: integer
                health_check_retries:
                  description: 'Health check retries count.'
                  type: integer
                health_check_start_period:
                  description: 'Health check start period in seconds.'
                  type: integer
                limits_memory:
                  description: 'Memory limit.'
                  type: string
                limits_memory_swap:
                  description: 'Memory swap limit.'
                  type: string
                limits_memory_swappiness:
                  description: 'Memory swappiness.'
                  type: integer
                limits_memory_reservation:
                  description: 'Memory reservation.'
                  type: string
                limits_cpus:
                  description: 'CPU limit.'
                  type: string
                limits_cpuset:
                  description: 'CPU set.'
                  type: [string, 'null']
                limits_cpu_shares:
                  description: 'CPU shares.'
                  type: integer
                custom_labels:
                  description: 'Custom labels.'
                  type: string
                custom_docker_run_options:
                  description: 'Custom docker run options.'
                  type: string
                post_deployment_command:
                  description: 'Post deployment command.'
                  type: string
                post_deployment_command_container:
                  description: 'Post deployment command container.'
                  type: string
                pre_deployment_command:
                  description: 'Pre deployment command.'
                  type: string
                pre_deployment_command_container:
                  description: 'Pre deployment command container.'
                  type: string
                manual_webhook_secret_github:
                  description: 'Manual webhook secret for Github.'
                  type: string
                manual_webhook_secret_gitlab:
                  description: 'Manual webhook secret for Gitlab.'
                  type: string
                manual_webhook_secret_bitbucket:
                  description: 'Manual webhook secret for Bitbucket.'
                  type: string
                manual_webhook_secret_gitea:
                  description: 'Manual webhook secret for Gitea.'
                  type: string
                redirect:
                  description: 'How to set redirect with Traefik / Caddy. www<->non-www.'
                  type: [string, 'null']
                  enum: [www, non-www, both]
                instant_deploy:
                  description: 'The flag to indicate if the application should be deployed instantly.'
                  type: boolean
                is_force_https_enabled:
                  description: 'The flag to indicate if HTTPS is forced. Defaults to true.'
                  type: boolean
                use_build_server:
                  description: 'Use build server.'
                  type: [boolean, 'null']
                is_http_basic_auth_enabled:
                  description: 'HTTP Basic Authentication enabled.'
                  type: boolean
                http_basic_auth_username:
                  description: 'Username for HTTP Basic Authentication'
                  type: [string, 'null']
                http_basic_auth_password:
                  description: 'Password for HTTP Basic Authentication'
                  type: [string, 'null']
                connect_to_docker_network:
                  description: 'The flag to connect the service to the predefined Docker network.'
                  type: boolean
                force_domain_override:
                  description: 'Force domain usage even if conflicts are detected. Default is false.'
                  type: boolean
                autogenerate_domain:
                  description: "If true and domains is empty, auto-generate a domain using the server's wildcard domain or sslip.io fallback. Default: true."
                  type: boolean
                  default: true
                is_container_label_escape_enabled:
                  description: 'Escape special characters in labels. By default, $ (and other chars) is escaped. So if you write $ in the labels, it will be saved as $$. If you want to use env variables inside the labels, turn this off.'
                  type: boolean
                  default: true
              type: object
      responses:
        '201':
          description: 'Application created successfully.'
          content:
            application/json:
              schema:
                properties:
                  uuid: { type: string }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '409':
          description: 'Domain conflicts detected.'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string, example: 'Domain conflicts detected. Use force_domain_override=true to proceed.' }
                  warning: { type: string, example: 'Using the same domain for multiple resources can cause routing conflicts and unpredictable behavior.' }
                  conflicts: { type: array, items: { properties: { domain: { type: string, example: example.com }, resource_name: { type: string, example: 'My Application' }, resource_uuid: { type: [string, 'null'], example: abc123-def456 }, resource_type: { type: string, enum: [application, service, instance], example: application }, message: { type: string, example: "Domain example.com is already in use by application 'My Application'" } }, type: object } }
                type: object
      security:
        -
          bearerAuth: []
  /applications/dockerimage:
    post:
      tags:
        - Applications
      summary: 'Create (Docker Image without git)'
      description: 'Create new application based on a prebuilt docker image (without git).'
      operationId: create-dockerimage-application
      requestBody:
        description: 'Application object that needs to be created.'
        required: true
        content:
          application/json:
            schema:
              required:
                - project_uuid
                - server_uuid
                - environment_name
                - environment_uuid
                - docker_registry_image_name
              properties:
                project_uuid:
                  description: 'The project UUID.'
                  type: string
                server_uuid:
                  description: 'The server UUID.'
                  type: string
                environment_name:
                  description: 'The environment name. You need to provide at least one of environment_name or environment_uuid.'
                  type: string
                environment_uuid:
                  description: 'The environment UUID. You need to provide at least one of environment_name or environment_uuid.'
                  type: string
                docker_registry_image_name:
                  description: 'The docker registry image name.'
                  type: string
                docker_registry_image_tag:
                  description: 'The docker registry image tag.'
                  type: string
                ports_exposes:
                  description: 'The ports to expose.'
                  type: string
                destination_uuid:
                  description: 'The destination UUID.'
                  type: string
                name:
                  description: 'The application name.'
                  type: string
                description:
                  description: 'The application description.'
                  type: string
                domains:
                  description: 'The application URLs in a comma-separated list.'
                  type: string
                ports_mappings:
                  description: 'The ports mappings.'
                  type: string
                health_check_enabled:
                  description: 'Health check enabled.'
                  type: boolean
                health_check_path:
                  description: 'Health check path.'
                  type: string
                health_check_port:
                  description: 'Health check port.'
                  type: [string, 'null']
                health_check_host:
                  description: 'Health check host.'
                  type: [string, 'null']
                health_check_method:
                  description: 'Health check method.'
                  type: string
                health_check_return_code:
                  description: 'Health check return code.'
                  type: integer
                health_check_scheme:
                  description: 'Health check scheme.'
                  type: string
                health_check_response_text:
                  description: 'Health check response text.'
                  type: [string, 'null']
                health_check_interval:
                  description: 'Health check interval in seconds.'
                  type: integer
                health_check_timeout:
                  description: 'Health check timeout in seconds.'
                  type: integer
                health_check_retries:
                  description: 'Health check retries count.'
                  type: integer
                health_check_start_period:
                  description: 'Health check start period in seconds.'
                  type: integer
                limits_memory:
                  description: 'Memory limit.'
                  type: string
                limits_memory_swap:
                  description: 'Memory swap limit.'
                  type: string
                limits_memory_swappiness:
                  description: 'Memory swappiness.'
                  type: integer
                limits_memory_reservation:
                  description: 'Memory reservation.'
                  type: string
                limits_cpus:
                  description: 'CPU limit.'
                  type: string
                limits_cpuset:
                  description: 'CPU set.'
                  type: [string, 'null']
                limits_cpu_shares:
                  description: 'CPU shares.'
                  type: integer
                custom_labels:
                  description: 'Custom labels.'
                  type: string
                custom_docker_run_options:
                  description: 'Custom docker run options.'
                  type: string
                post_deployment_command:
                  description: 'Post deployment command.'
                  type: string
                post_deployment_command_container:
                  description: 'Post deployment command container.'
                  type: string
                pre_deployment_command:
                  description: 'Pre deployment command.'
                  type: string
                pre_deployment_command_container:
                  description: 'Pre deployment command container.'
                  type: string
                manual_webhook_secret_github:
                  description: 'Manual webhook secret for Github.'
                  type: string
                manual_webhook_secret_gitlab:
                  description: 'Manual webhook secret for Gitlab.'
                  type: string
                manual_webhook_secret_bitbucket:
                  description: 'Manual webhook secret for Bitbucket.'
                  type: string
                manual_webhook_secret_gitea:
                  description: 'Manual webhook secret for Gitea.'
                  type: string
                redirect:
                  description: 'How to set redirect with Traefik / Caddy. www<->non-www.'
                  type: [string, 'null']
                  enum: [www, non-www, both]
                instant_deploy:
                  description: 'The flag to indicate if the application should be deployed instantly.'
                  type: boolean
                is_force_https_enabled:
                  description: 'The flag to indicate if HTTPS is forced. Defaults to true.'
                  type: boolean
                use_build_server:
                  description: 'Use build server.'
                  type: [boolean, 'null']
                is_http_basic_auth_enabled:
                  description: 'HTTP Basic Authentication enabled.'
                  type: boolean
                http_basic_auth_username:
                  description: 'Username for HTTP Basic Authentication'
                  type: [string, 'null']
                http_basic_auth_password:
                  description: 'Password for HTTP Basic Authentication'
                  type: [string, 'null']
                connect_to_docker_network:
                  description: 'The flag to connect the service to the predefined Docker network.'
                  type: boolean
                force_domain_override:
                  description: 'Force domain usage even if conflicts are detected. Default is false.'
                  type: boolean
                autogenerate_domain:
                  description: "If true and domains is empty, auto-generate a domain using the server's wildcard domain or sslip.io fallback. Default: true."
                  type: boolean
                  default: true
                is_container_label_escape_enabled:
                  description: 'Escape special characters in labels. By default, $ (and other chars) is escaped. So if you write $ in the labels, it will be saved as $$. If you want to use env variables inside the labels, turn this off.'
                  type: boolean
                  default: true
              type: object
      responses:
        '201':
          description: 'Application created successfully.'
          content:
            application/json:
              schema:
                properties:
                  uuid: { type: string }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '409':
          description: 'Domain conflicts detected.'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string, example: 'Domain conflicts detected. Use force_domain_override=true to proceed.' }
                  warning: { type: string, example: 'Using the same domain for multiple resources can cause routing conflicts and unpredictable behavior.' }
                  conflicts: { type: array, items: { properties: { domain: { type: string, example: example.com }, resource_name: { type: string, example: 'My Application' }, resource_uuid: { type: [string, 'null'], example: abc123-def456 }, resource_type: { type: string, enum: [application, service, instance], example: application }, message: { type: string, example: "Domain example.com is already in use by application 'My Application'" } }, type: object } }
                type: object
      security:
        -
          bearerAuth: []
  '/applications/{uuid}':
    get:
      tags:
        - Applications
      summary: Get
      description: 'Get application by UUID.'
      operationId: get-application-by-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Get application by UUID.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
        -
          bearerAuth: []
    delete:
      tags:
        - Applications
      summary: Delete
      description: 'Delete application by UUID.'
      operationId: delete-application-by-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
        -
          name: delete_configurations
          in: query
          description: 'Delete configurations.'
          required: false
          schema:
            type: boolean
            default: true
        -
          name: delete_volumes
          in: query
          description: 'Delete volumes.'
          required: false
          schema:
            type: boolean
            default: true
        -
          name: docker_cleanup
          in: query
          description: 'Run docker cleanup.'
          required: false
          schema:
            type: boolean
            default: true
        -
          name: delete_connected_networks
          in: query
          description: 'Delete connected networks.'
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: 'Application deleted.'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string, example: 'Application deleted.' }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
        -
          bearerAuth: []
    patch:
      tags:
        - Applications
      summary: Update
      description: 'Update application by UUID.'
      operationId: update-application-by-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Application updated.'
        required: true
        content:
          application/json:
            schema:
              properties:
                project_uuid:
                  description: 'The project UUID.'
                  type: string
                server_uuid:
                  description: 'The server UUID.'
                  type: string
                environment_name:
                  description: 'The environment name.'
                  type: string
                github_app_uuid:
                  description: 'The Github App UUID.'
                  type: string
                git_repository:
                  description: 'The git repository URL.'
                  type: string
                git_branch:
                  description: 'The git branch.'
                  type: string
                ports_exposes:
                  description: 'The ports to expose.'
                  type: string
                destination_uuid:
                  description: 'The destination UUID.'
                  type: string
                build_pack:
                  description: 'The build pack type.'
                  type: string
                  enum: [nixpacks, railpack, static, dockerfile, dockercompose]
                name:
                  description: 'The application name.'
                  type: string
                description:
                  description: 'The application description.'
                  type: string
                domains:
                  description: 'The application URLs in a comma-separated list.'
                  type: string
                git_commit_sha:
                  description: 'The git commit SHA.'
                  type: string
                docker_registry_image_name:
                  description: 'The docker registry image name.'
                  type: string
                docker_registry_image_tag:
                  description: 'The docker registry image tag.'
                  type: string
                is_static:
                  description: 'The flag to indicate if the application is static.'
                  type: boolean
                is_spa:
                  description: 'The flag to indicate if the application is a single-page application (SPA). Only relevant when is_static is true.'
                  type: boolean
                is_auto_deploy_enabled:
                  description: 'The flag to indicate if auto-deploy is enabled on git push. Defaults to true.'
                  type: boolean
                is_force_https_enabled:
                  description: 'The flag to indicate if HTTPS is forced. Defaults to true.'
                  type: boolean
                install_command:
                  description: 'The install command.'
                  type: string
                build_command:
                  description: 'The build command.'
                  type: string
                start_command:
                  description: 'The start command.'
                  type: string
                ports_mappings:
                  description: 'The ports mappings.'
                  type: string
                base_directory:
                  description: 'The base directory for all commands.'
                  type: string
                publish_directory:
                  description: 'The publish directory.'
                  type: string
                health_check_enabled:
                  description: 'Health check enabled.'
                  type: boolean
                health_check_path:
                  description: 'Health check path.'
                  type: string
                health_check_port:
                  description: 'Health check port.'
                  type: [string, 'null']
                health_check_host:
                  description: 'Health check host.'
                  type: [string, 'null']
                health_check_method:
                  description: 'Health check method.'
                  type: string
                health_check_return_code:
                  description: 'Health check return code.'
                  type: integer
                health_check_scheme:
                  description: 'Health check scheme.'
                  type: string
                health_check_response_text:
                  description: 'Health check response text.'
                  type: [string, 'null']
                health_check_interval:
                  description: 'Health check interval in seconds.'
                  type: integer
                health_check_timeout:
                  description: 'Health check timeout in seconds.'
                  type: integer
                health_check_retries:
                  description: 'Health check retries count.'
                  type: integer
                health_check_start_period:
                  description: 'Health check start period in seconds.'
                  type: integer
                limits_memory:
                  description: 'Memory limit.'
                  type: string
                limits_memory_swap:
                  description: 'Memory swap limit.'
                  type: string
                limits_memory_swappiness:
                  description: 'Memory swappiness.'
                  type: integer
                limits_memory_reservation:
                  description: 'Memory reservation.'
                  type: string
                limits_cpus:
                  description: 'CPU limit.'
                  type: string
                limits_cpuset:
                  description: 'CPU set.'
                  type: [string, 'null']
                limits_cpu_shares:
                  description: 'CPU shares.'
                  type: integer
                custom_labels:
                  description: 'Custom labels.'
                  type: string
                custom_docker_run_options:
                  description: 'Custom docker run options.'
                  type: string
                post_deployment_command:
                  description: 'Post deployment command.'
                  type: string
                post_deployment_command_container:
                  description: 'Post deployment command container.'
                  type: string
                pre_deployment_command:
                  description: 'Pre deployment command.'
                  type: string
                pre_deployment_command_container:
                  description: 'Pre deployment command container.'
                  type: string
                manual_webhook_secret_github:
                  description: 'Manual webhook secret for Github.'
                  type: string
                manual_webhook_secret_gitlab:
                  description: 'Manual webhook secret for Gitlab.'
                  type: string
                manual_webhook_secret_bitbucket:
                  description: 'Manual webhook secret for Bitbucket.'
                  type: string
                manual_webhook_secret_gitea:
                  description: 'Manual webhook secret for Gitea.'
                  type: string
                redirect:
                  description: 'How to set redirect with Traefik / Caddy. www<->non-www.'
                  type: [string, 'null']
                  enum: [www, non-www, both]
                instant_deploy:
                  description: 'The flag to indicate if the application should be deployed instantly.'
                  type: boolean
                dockerfile:
                  description: 'The Dockerfile content.'
                  type: string
                dockerfile_location:
                  description: 'The Dockerfile location in the repository.'
                  type: string
                docker_compose_location:
                  description: 'The Docker Compose location.'
                  type: string
                docker_compose_custom_start_command:
                  description: 'The Docker Compose custom start command.'
                  type: string
                docker_compose_custom_build_command:
                  description: 'The Docker Compose custom build command.'
                  type: string
                docker_compose_domains:
                  description: 'Array of URLs to be applied to containers of a dockercompose application.'
                  type: array
                  items: { properties: { name: { description: 'The service name as defined in docker-compose.', type: string }, domain: { description: 'Comma-separated list of URLs (e.g. "https://app.coolify.io,https://app2.coolify.io")', type: string } }, type: object }
                watch_paths:
                  description: 'The watch paths.'
                  type: string
                use_build_server:
                  description: 'Use build server.'
                  type: [boolean, 'null']
                connect_to_docker_network:
                  description: 'The flag to connect the service to the predefined Docker network.'
                  type: boolean
                force_domain_override:
                  description: 'Force domain usage even if conflicts are detected. Default is false.'
                  type: boolean
                is_container_label_escape_enabled:
                  description: 'Escape special characters in labels. By default, $ (and other chars) is escaped. So if you write $ in the labels, it will be saved as $$. If you want to use env variables inside the labels, turn this off.'
                  type: boolean
                  default: true
                is_preserve_repository_enabled:
                  description: 'Preserve git repository during application update. If false, the existing repository will be removed and replaced with the new one. If true, the existing repository will be kept and the new one will be ignored. Default is false.'
                  type: boolean
              type: object
      responses:
        '200':
          description: 'Application updated.'
          content:
            application/json:
              schema:
                properties:
                  uuid: { type: string }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: 'Domain conflicts detected.'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string, example: 'Domain conflicts detected. Use force_domain_override=true to proceed.' }
                  warning: { type: string, example: 'Using the same domain for multiple resources can cause routing conflicts and unpredictable behavior.' }
                  conflicts: { type: array, items: { properties: { domain: { type: string, example: example.com }, resource_name: { type: string, example: 'My Application' }, resource_uuid: { type: [string, 'null'], example: abc123-def456 }, resource_type: { type: string, enum: [application, service, instance], example: application }, message: { type: string, example: "Domain example.com is already in use by application 'My Application'" } }, type: object } }
                type: object
      security:
        -
          bearerAuth: []
  '/applications/{uuid}/logs':
    get:
      tags:
        - Applications
      summary: 'Get application logs.'
      description: 'Get application logs by UUID.'
      operationId: get-application-logs-by-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
        -
          name: lines
          in: query
          description: 'Number of lines to show from the end of the logs.'
          required: false
          schema:
            type: integer
            format: int32
            default: 100
      responses:
        '200':
          description: 'Get application logs by UUID.'
          content:
            application/json:
              schema:
                properties:
                  logs: { type: string }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
        -
          bearerAuth: []
  '/applications/{uuid}/envs':
    get:
      tags:
        - Applications
      summary: 'List Envs'
      description: 'List all envs by application UUID.'
      operationId: list-envs-by-application-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'All environment variables by application UUID.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnvironmentVariable'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
        -
          bearerAuth: []
    post:
      tags:
        - Applications
      summary: 'Create Env'
      description: 'Create env by application UUID.'
      operationId: create-env-by-application-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Env created.'
        required: true
        content:
          application/json:
            schema:
              properties:
                key:
                  description: 'The key of the environment variable.'
                  type: string
                value:
                  description: 'The value of the environment variable.'
                  type: string
                is_preview:
                  description: 'The flag to indicate if the environment variable is used in preview deployments.'
                  type: boolean
                is_literal:
                  description: 'The flag to indicate if the environment variable is a literal, nothing escaped.'
                  type: boolean
                is_multiline:
                  description: 'The flag to indicate if the environment variable is multiline.'
                  type: boolean
                is_shown_once:
                  description: "The flag to indicate if the environment variable's value is shown on the UI."
                  type: boolean
              type: object
      responses:
        '201':
          description: 'Environment variable created.'
          content:
            application/json:
              schema:
                properties:
                  uuid: { type: string, example: nc0k04gk8g0cgsk440g0koko }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
        -
          bearerAuth: []
    patch:
      tags:
        - Applications
      summary: 'Update Env'
      description: 'Update env by application UUID.'
      operationId: update-env-by-application-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Env updated.'
        required: true
        content:
          application/json:
            schema:
              required:
                - key
                - value
              properties:
                key:
                  description: 'The key of the environment variable.'
                  type: string
                value:
                  description: 'The value of the environment variable.'
                  type: string
                is_preview:
                  description: 'The flag to indicate if the environment variable is used in preview deployments.'
                  type: boolean
                is_literal:
                  description: 'The flag to indicate if the environment variable is a literal, nothing escaped.'
                  type: boolean
                is_multiline:
                  description: 'The flag to indicate if the environment variable is multiline.'
                  type: boolean
                is_shown_once:
                  description: "The flag to indicate if the environment variable's value is shown on the UI."
                  type: boolean
              type: object
      responses:
        '201':
          description: 'Environment variable updated.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariable'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
        -
          bearerAuth: []
  '/applications/{uuid}/envs/bulk':
    patch:
      tags:
        - Applications
      summary: 'Update Envs (Bulk)'
      description: 'Update multiple envs by application UUID.'
      operationId: update-envs-by-application-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Bulk envs updated.'
        required: true
        content:
          application/json:
            schema:
              required:
                - data
              properties:
                data:
                  type: array
                  items: { properties: { key: { description: 'The key of the environment variable.', type: string }, value: { description: 'The value of the environment variable.', type: string }, is_preview: { description: 'The flag to indicate if the environment variable is used in preview deployments.', type: boolean }, is_literal: { description: 'The flag to indicate if the environment variable is a literal, nothing escaped.', type: boolean }, is_multiline: { description: 'The flag to indicate if the environment variable is multiline.', type: boolean }, is_shown_once: { description: "The flag to indicate if the environment variable's value is shown on the UI.", type: boolean } }, type: object }
              type: object
      responses:
        '201':
          description: 'Environment variables updated.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnvironmentVariable'
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
        -
          bearerAuth: []
  '/applications/{uuid}/envs/{env_uuid}':
    delete:
      tags:
        - Applications
      summary: 'Delete Env'
      description: 'Delete env by UUID.'
      operationId: delete-env-by-application-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
        -
          name: env_uuid
          in: path
          description: 'UUID of the environment variable.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Environment variable deleted.'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string, example: 'Environment variable deleted.' }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
        -
          bearerAuth: []
  '/applications/{uuid}/start':
    get:
      tags:
        - Applications
      summary: Start
      description: 'Start application. `Post` request is also accepted.'
      operationId: start-application-by-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
        -
          name: force
          in: query
          description: 'Force rebuild.'
          schema:
            type: boolean
            default: false
        -
          name: instant_deploy
          in: query
          description: 'Instant deploy (skip queuing).'
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 'Start application.'
          content:
            application/json:
              schema:
                properties:
                  message: { description: Message., type: string, example: 'Deployment request queued.' }
                  deployment_uuid: { description: 'UUID of the deployment.', type: string, example: doogksw }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
        -
          bearerAuth: []
  '/applications/{uuid}/stop':
    get:
      tags:
        - Applications
      summary: Stop
      description: 'Stop application. `Post` request is also accepted.'
      operationId: stop-application-by-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
        -
          name: docker_cleanup
          in: query
          description: 'Perform docker cleanup (prune networks, volumes, etc.).'
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: 'Stop application.'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string, example: 'Application stopping request queued.' }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
        -
          bearerAuth: []
  '/applications/{uuid}/restart':
    get:
      tags:
        - Applications
      summary: Restart
      description: 'Restart application. `Post` request is also accepted.'
      operationId: restart-application-by-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Restart application.'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string, example: 'Restart request queued.' }
                  deployment_uuid: { description: 'UUID of the deployment.', type: string, example: doogksw }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
        -
          bearerAuth: []
  '/applications/{uuid}/storages':
    get:
      tags:
        - Applications
      summary: 'List Storages'
      description: 'List all persistent storages and file storages by application UUID.'
      operationId: list-storages-by-application-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'All storages by application UUID.'
          content:
            application/json:
              schema:
                properties:
                  persistent_storages: { type: array, items: { type: object } }
                  file_storages: { type: array, items: { type: object } }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
        -
          bearerAuth: []
    post:
      tags:
        - Applications
      summary: 'Create Storage'
      description: 'Create a persistent storage or file storage for an application.'
      operationId: create-storage-by-application-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - type
                - mount_path
              properties:
                type:
                  description: 'The type of storage.'
                  type: string
                  enum: [persistent, file]
                name:
                  description: 'Volume name (persistent only, required for persistent).'
                  type: string
                mount_path:
                  description: 'The container mount path.'
                  type: string
                host_path:
                  description: 'The host path (persistent only, optional).'
                  type: [string, 'null']
                content:
                  description: 'File content (file only, optional).'
                  type: [string, 'null']
                is_directory:
                  description: 'Whether this is a directory mount (file only, default false).'
                  type: boolean
                fs_path:
                  description: 'Host directory path (required when is_directory is true).'
                  type: string
              type: object
              additionalProperties: false
      responses:
        '201':
          description: 'Storage created.'
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      security:
        -
          bearerAuth: []
    patch:
      tags:
        - Applications
      summary: 'Update Storage'
      description: 'Update a persistent storage or file storage by application UUID.'
      operationId: update-storage-by-application-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Storage updated. For read-only storages (from docker-compose or services), only is_preview_suffix_enabled can be updated.'
        required: true
        content:
          application/json:
            schema:
              required:
                - type
              properties:
                uuid:
                  description: 'The UUID of the storage (preferred).'
                  type: string
                id:
                  description: 'The ID of the storage (deprecated, use uuid instead).'
                  type: integer
                type:
                  description: 'The type of storage: persistent or file.'
                  type: string
                  enum: [persistent, file]
                is_preview_suffix_enabled:
                  description: 'Whether to add -pr-N suffix for preview deployments.'
                  type: boolean
                name:
                  description: 'The volume name (persistent only, not allowed for read-only storages).'
                  type: string
                mount_path:
                  description: 'The container mount path (not allowed for read-only storages).'
                  type: string
                host_path:
                  description: 'The host path (persistent only, not allowed for read-only storages).'
                  type: [string, 'null']
                content:
                  description: 'The file content (file only, not allowed for read-only storages).'
                  type: [string, 'null']
              type: object
              additionalProperties: false
      responses:
        '200':
          description: 'Storage updated.'
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      security:
        -
          bearerAuth: []
  '/applications/{uuid}/storages/{storage_uuid}':
    delete:
      tags:
        - Applications
      summary: 'Delete Storage'
      description: 'Delete a persistent storage or file storage by application UUID.'
      operationId: delete-storage-by-application-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
        -
          name: storage_uuid
          in: path
          description: 'UUID of the storage.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Storage deleted.'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      security:
        -
          bearerAuth: []
  '/applications/{uuid}/previews/{pull_request_id}':
    delete:
      tags:
        - Applications
      summary: 'Delete Preview Deployment'
      description: 'Delete a preview deployment for a pull request. Cancels active deployments, stops containers, removes volumes/networks, and deletes the preview record.'
      operationId: delete-preview-deployment-by-pull-request-id
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the application.'
          required: true
          schema:
            type: string
        -
          name: pull_request_id
          in: path
          description: 'Pull request ID of the preview to delete.'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Preview deletion queued.'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
      security:
        -
          bearerAuth: []
  /cloud-tokens:
    get:
      tags:
        - 'Cloud Tokens'
      summary: 'List Cloud Provider Tokens'
      description: 'List all cloud provider tokens for the authenticated team.'
      operationId: list-cloud-tokens
      responses:
        '200':
          description: 'Get all cloud provider tokens.'
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { uuid: { type: string }, name: { type: string }, provider: { type: string, enum: [digitalocean] }, team_id: { type: integer }, servers_count: { type: integer }, created_at: { type: string }, updated_at: { type: string } }
                  type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
      security:
        -
          bearerAuth: []
    post:
      tags:
        - 'Cloud Tokens'
      summary: 'Create Cloud Provider Token'
      description: 'Create a new cloud provider token. The token will be validated before being stored.'
      operationId: create-cloud-token
      requestBody:
        description: 'Cloud provider token details'
        required: true
        content:
          application/json:
            schema:
              required:
                - provider
                - token
                - name
              properties:
                provider:
                  description: 'The cloud provider.'
                  type: string
                  enum: [digitalocean]
                  example: digitalocean
                token:
                  description: 'The API token for the cloud provider.'
                  type: string
                  example: your-api-token-here
                name:
                  description: 'A friendly name for the token.'
                  type: string
                  example: 'My DigitalOcean Token'
              type: object
      responses:
        '201':
          description: 'Cloud provider token created.'
          content:
            application/json:
              schema:
                properties:
                  uuid: { description: 'The UUID of the token.', type: string, example: og888os }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '422':
          $ref: '#/components/responses/422'
      security:
        -
          bearerAuth: []
  '/cloud-tokens/{uuid}':
    get:
      tags:
        - 'Cloud Tokens'
      summary: 'Get Cloud Provider Token'
      description: 'Get cloud provider token by UUID.'
      operationId: get-cloud-token-by-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'Token UUID'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Get cloud provider token by UUID'
          content:
            application/json:
              schema:
                properties:
                  uuid: { type: string }
                  name: { type: string }
                  provider: { type: string }
                  team_id: { type: integer }
                  servers_count: { type: integer }
                  created_at: { type: string }
                  updated_at: { type: string }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
      security:
        -
          bearerAuth: []
    delete:
      tags:
        - 'Cloud Tokens'
      summary: 'Delete Cloud Provider Token'
      description: 'Delete cloud provider token by UUID. Cannot delete if token is used by any servers.'
      operationId: delete-cloud-token-by-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'UUID of the cloud provider token.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Cloud provider token deleted.'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string, example: 'Cloud provider token deleted.' }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      security:
        -
          bearerAuth: []
    patch:
      tags:
        - 'Cloud Tokens'
      summary: 'Update Cloud Provider Token'
      description: 'Update cloud provider token name.'
      operationId: update-cloud-token-by-uuid
      parameters:
        -
          name: uuid
          in: path
          description: 'Token UUID'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Cloud provider token updated.'
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  description: 'The friendly name for the token.'
                  type: string
              type: object
      responses:
        '200':
          description: 'Cloud provider token updated.'
          content:
            application/json:
              schema:
                properties:
                  uuid: { type: string }
                type: object
        '401':
          $ref: '#/components/responses/401'
        '404':
[...]
