parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \=\=\= between \*NEVER\* and ''persistent'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Http/Controllers/Api/ApplicationsController.php

		-
			message: '#^Strict comparison using \=\=\= between \*NEVER\* and ''persistent'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Http/Controllers/Api/DatabasesController.php

		-
			message: '#^Strict comparison using \=\=\= between \*NEVER\* and ''persistent'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Http/Controllers/Api/ServicesController.php

		-
			message: '#^Anonymous function should return array\{id\: int, name\: string, ip\: string, destinations\: Illuminate\\Support\\Collection\<int, array\{id\: mixed, name\: mixed\}\>\} but returns array\{id\: int, name\: string, ip\: string, destinations\: Illuminate\\Support\\Collection\<int, array\{id\: int, name\: string\}\>\}\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/ProjectApplicationConfigurationController.php

		-
			message: '#^Access to an undefined property App\\Models\\ServiceDatabase\|App\\Models\\StandaloneDatabaseInstance\:\:\$mariadb_database\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProjectDatabaseBackupController.php

		-
			message: '#^Access to an undefined property App\\Models\\ServiceDatabase\|App\\Models\\StandaloneDatabaseInstance\:\:\$mysql_database\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProjectDatabaseBackupController.php

		-
			message: '#^Access to an undefined property App\\Models\\ServiceDatabase\|App\\Models\\StandaloneDatabaseInstance\:\:\$postgres_db\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProjectDatabaseBackupController.php

		-
			message: '#^Access to an undefined property App\\Models\\StandaloneDatabaseInstance\:\:\$enable_ssl\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/ProjectDatabaseConfigurationController.php

		-
			message: '#^Access to an undefined property App\\Models\\StandaloneDatabaseInstance\:\:\$ssl_mode\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/ProjectDatabaseConfigurationController.php

		-
			message: '#^Anonymous function should return array\{id\: int, name\: string, ip\: string, destinations\: Illuminate\\Support\\Collection\<int, array\{id\: mixed, name\: mixed\}\>\} but returns array\{id\: int, name\: string, ip\: string, destinations\: Illuminate\\Support\\Collection\<int, array\{id\: int, name\: string\}\>\}\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/ProjectDatabaseConfigurationController.php

		-
			message: '#^Anonymous function should return array\{id\: int, name\: string, ip\: string, destinations\: Illuminate\\Support\\Collection\<int, array\{id\: mixed, name\: mixed\}\>\} but returns array\{id\: int, name\: string, ip\: string, destinations\: Illuminate\\Support\\Collection\<int, array\{id\: int, name\: string\}\>\}\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/ProjectServiceConfigurationController.php

		-
			message: '#^Access to an undefined property App\\Models\\ServiceDatabase\|App\\Models\\StandaloneDatabaseInstance\:\:\$mariadb_database\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProjectServiceDatabaseBackupController.php

		-
			message: '#^Access to an undefined property App\\Models\\ServiceDatabase\|App\\Models\\StandaloneDatabaseInstance\:\:\$mysql_database\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProjectServiceDatabaseBackupController.php

		-
			message: '#^Access to an undefined property App\\Models\\ServiceDatabase\|App\\Models\\StandaloneDatabaseInstance\:\:\$postgres_db\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/ProjectServiceDatabaseBackupController.php

		-
			message: '#^Access to an undefined property App\\Models\\ServiceDatabase\|App\\Models\\StandaloneDatabaseInstance\:\:\$mariadb_database\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/SettingsBackupController.php

		-
			message: '#^Access to an undefined property App\\Models\\ServiceDatabase\|App\\Models\\StandaloneDatabaseInstance\:\:\$mysql_database\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/SettingsBackupController.php

		-
			message: '#^Access to an undefined property App\\Models\\ServiceDatabase\|App\\Models\\StandaloneDatabaseInstance\:\:\$postgres_db\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/SettingsBackupController.php

		-
			message: '#^Method App\\Http\\Controllers\\SettingsScheduledJobsController\:\:enrichSkipLogsWithLinks\(\) should return Illuminate\\Support\\Collection\<int, array\<string, mixed\>\> but returns Illuminate\\Support\\Collection\<int, non\-empty\-array\<string, mixed\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/SettingsScheduledJobsController.php

		-
			message: '#^Method App\\Http\\Controllers\\SettingsScheduledJobsController\:\:getBackupExecutions\(\) should return Illuminate\\Support\\Collection\<int, array\{id\: mixed, type\: ''backup'', status\: mixed, resource_name\: mixed, resource_type\: string\|null, server_name\: mixed, server_id\: mixed, created_at\: mixed, \.\.\.\}\> but returns Illuminate\\Support\\Collection\<int, array\{id\: mixed, type\: ''backup'', status\: mixed, resource_name\: mixed, resource_type\: string\|null, server_name\: mixed, server_id\: mixed, created_at\: mixed, \.\.\.\}\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/SettingsScheduledJobsController.php

		-
			message: '#^Method App\\Http\\Controllers\\SettingsScheduledJobsController\:\:getCleanupExecutions\(\) should return Illuminate\\Support\\Collection\<int, array\{id\: mixed, type\: ''cleanup'', status\: mixed, resource_name\: mixed, resource_type\: ''Server'', server_name\: mixed, server_id\: mixed, created_at\: mixed, \.\.\.\}\> but returns Illuminate\\Support\\Collection\<int, array\{id\: mixed, type\: ''cleanup'', status\: mixed, resource_name\: mixed, resource_type\: ''Server'', server_name\: mixed, server_id\: mixed, created_at\: mixed, \.\.\.\}\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/SettingsScheduledJobsController.php

		-
			message: '#^Method App\\Http\\Controllers\\SettingsScheduledJobsController\:\:getExecutions\(\) should return Illuminate\\Support\\Collection\<int, array\<string, mixed\>\> but returns Illuminate\\Support\\Collection\<int, non\-empty\-array\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/SettingsScheduledJobsController.php

		-
			message: '#^Method App\\Http\\Controllers\\SettingsScheduledJobsController\:\:getTaskExecutions\(\) should return Illuminate\\Support\\Collection\<int, array\{id\: mixed, type\: ''task'', status\: mixed, resource_name\: mixed, resource_type\: string\|null, server_name\: mixed, server_id\: mixed, created_at\: mixed, \.\.\.\}\> but returns Illuminate\\Support\\Collection\<int, array\{id\: mixed, type\: ''task'', status\: mixed, resource_name\: mixed, resource_type\: string\|null, server_name\: mixed, server_id\: mixed, created_at\: mixed, \.\.\.\}\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/SettingsScheduledJobsController.php

		-
			message: '#^Parameter \#1 \$skipLogs of method App\\Http\\Controllers\\SettingsScheduledJobsController\:\:enrichSkipLogsWithLinks\(\) expects Illuminate\\Support\\Collection\<int, array\<string, mixed\>\>, Illuminate\\Support\\Collection\<int, array\{timestamp\: string, type\: string, reason\: string, team_id\: int\|null, context\: array\}\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/SettingsScheduledJobsController.php

		-
			message: '#^Anonymous function should return array\{name\: string, description\: string\|null, environments\: Illuminate\\Support\\Collection\<int, array\{name\: mixed, description\: mixed, href\: string\}\>\} but returns array\{name\: string, description\: string\|null, environments\: Illuminate\\Support\\Collection\<int, array\{name\: string, description\: string\|null, href\: string\}\>\}\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/SharedVariablesController.php

		-
			message: '#^Method App\\Http\\Controllers\\TerminalController\:\:getAllActiveContainers\(\) should return Illuminate\\Support\\Collection\<int, array\<string, mixed\>\> but returns Illuminate\\Support\\Collection\<int, array\{name\: mixed, connection_name\: mixed, uuid\: mixed, status\: Illuminate\\Support\\Stringable, server_name\: string, server_uuid\: string\}\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/TerminalController.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(App\\Jobs\\ApplicationDeploymentJob\) and ''addRetryLogEntry'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Jobs/ApplicationDeploymentJob.php

		-
			message: '#^Access to an undefined property App\\Models\\ServiceDatabase\:\:\$mariadb_root_password\.$#'
			identifier: property.notFound
			count: 2
			path: app/Jobs/DatabaseBackupJob.php

		-
			message: '#^Access to an undefined property App\\Models\\ServiceDatabase\:\:\$mysql_root_password\.$#'
			identifier: property.notFound
			count: 1
			path: app/Jobs/DatabaseBackupJob.php

		-
			message: '#^Access to an undefined property App\\Models\\ServiceDatabase\:\:\$postgres_user\.$#'
			identifier: property.notFound
			count: 2
			path: app/Jobs/DatabaseBackupJob.php

		-
			message: '#^Dead catch \- Illuminate\\Contracts\\Encryption\\DecryptException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Models/Application.php

		-
			message: '#^Instanceof between \*NEVER\* and App\\Models\\Environment will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Models/Application.php

		-
			message: '#^Instanceof between \*NEVER\* and App\\Models\\Project will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Models/Application.php

		-
			message: '#^Instanceof between \*NEVER\* and App\\Models\\Server will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Models/Application.php

		-
			message: '#^Instanceof between \*NEVER\* and App\\Models\\Service will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Models/Application.php

		-
			message: '#^Result of \|\| is always false\.$#'
			identifier: booleanOr.alwaysFalse
			count: 1
			path: app/Models/Application.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 4
			path: app/Models/ApplicationPreview.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 4
			path: app/Models/ApplicationPreview.php

		-
			message: '#^Instanceof between \*NEVER\* and App\\Models\\Server will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Models/Environment.php

		-
			message: '#^Class App\\Models\\LocalFileVolume uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/LocalFileVolume.php

		-
			message: '#^Class App\\Models\\OauthSetting uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/OauthSetting.php

		-
			message: '#^Instanceof between \*NEVER\* and App\\Models\\Environment will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 2
			path: app/Models/Project.php

		-
			message: '#^Instanceof between \*NEVER\* and App\\Models\\Server will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Models/Project.php

		-
			message: '#^Class App\\Models\\S3Storage uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/S3Storage.php

		-
			message: '#^Dead catch \- Illuminate\\Contracts\\Encryption\\DecryptException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Models/Server.php

		-
			message: '#^Instanceof between \*NEVER\* and App\\Models\\Environment will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Models/Server.php

		-
			message: '#^Instanceof between \*NEVER\* and App\\Models\\Project will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Models/Server.php

		-
			message: '#^Instanceof between \*NEVER\* and App\\Models\\Service will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Models/Server.php

		-
			message: '#^Result of \|\| is always false\.$#'
			identifier: booleanOr.alwaysFalse
			count: 1
			path: app/Models/Server.php

		-
			message: '#^Dead catch \- Illuminate\\Contracts\\Encryption\\DecryptException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Models/ServerSetting.php

		-
			message: '#^Instanceof between \*NEVER\* and App\\Models\\Environment will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Models/Service.php

		-
			message: '#^Instanceof between \*NEVER\* and App\\Models\\Project will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Models/Service.php

		-
			message: '#^Result of \|\| is always false\.$#'
			identifier: booleanOr.alwaysFalse
			count: 1
			path: app/Models/Service.php

		-
			message: '#^Class App\\Models\\ServiceApplication uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ServiceApplication.php

		-
			message: '#^Class App\\Models\\ServiceDatabase uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ServiceDatabase.php

		-
			message: '#^Dead catch \- Illuminate\\Contracts\\Encryption\\DecryptException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Models/StandaloneClickhouse.php

		-
			message: '#^Dead catch \- Illuminate\\Contracts\\Encryption\\DecryptException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Models/StandaloneDragonfly.php

		-
			message: '#^Dead catch \- Illuminate\\Contracts\\Encryption\\DecryptException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Models/StandaloneKeydb.php

		-
			message: '#^Dead catch \- Illuminate\\Contracts\\Encryption\\DecryptException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Models/StandaloneMariadb.php

		-
			message: '#^Dead catch \- Illuminate\\Contracts\\Encryption\\DecryptException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Models/StandaloneMongodb.php

		-
			message: '#^Dead catch \- Illuminate\\Contracts\\Encryption\\DecryptException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Models/StandaloneMysql.php

		-
			message: '#^Dead catch \- Illuminate\\Contracts\\Encryption\\DecryptException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Models/StandalonePostgresql.php

		-
			message: '#^Dead catch \- Illuminate\\Contracts\\Encryption\\DecryptException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Models/StandaloneRedis.php

